# Kinetic ERP REST API
KINETIC_BASE_URL=https://seiarp6c2d.developer.epicor.com/server/api/v2/odata/EPIC03
KINETIC_USERNAME=epicor
KINETIC_PASSWORD=epicor

# Anthropic Claude API
ANTHROPIC_API_KEY=https://kineticquerymcp.azurewebsites.net/mcp?token=Q2ZESjhCME9pQ2o0ZllCSG5HeFk1QU8xOFNJWFBIU0tDcXI3T2V4Smd5RUNfU0k1WHRJZWNadEY0azZkV2h5RFlkNnRQdmNxWDFDLXo2NWVha0t4U2s1SmNjVE8tYTBydkNwMEUtNnpXTnNjYVVSNkFyU0RYRmUwQTQxOWIwSTljTGtFNTY2bTNFMWxveVpVRFRIMmZ1ZEgzNDRVb0dsLUFrWENxbTFqcHZRN0lXeVFHdkFJM3l6eUFYc2hacEpoakdhUWNaUHN3djJ5OFNXLVg1aGtCQUhjNUk2TUVkT1dxb1U3QnFCWjctQS03d2tSaXVENlAxQVhxVkNydDZjZm52ZHh5M09VYXQ0bHNlRXZRWkNZVm45TGVfZFhjcWtjRExGUHFmY2RyR2ZJcjJ3M3BoYmE4aXdLRmRIRHJlRzUwMFZXSFU5WmU5bm5zUHpwTEJfNFpORUlnVWM

# How many days ahead to look for at-risk records
LOOKAHEAD_DAYS=180
